// Layout
$w-pad: 12px;
$w-indent: 6px;
$h-header: 70px;
$br-sm: 4px;
$br-lg: 8px;

// Z-Indices
$z-dropdown: 10;
$z-sticker: 20;
$z-header: 50;
$z-modal: 100;
$z-modal-bg: $z-modal - 1;

// Colors
$c-prim: dodgerblue;
$c-prim-d: darken($c-prim, 10%);
$c-prim-dd: darken($c-prim, 20%);
$c-prim-l: lighten($c-prim, 10%);
$c-prim-comp: complement($c-prim);

$c-highlight-1: $c-prim;
$c-highlight-2: adjust-hue($c-prim-d, 270deg);
$c-highlight-3: adjust-hue($c-prim, 90deg);
$c-highlight-4: adjust-hue($c-prim, 180deg);
$c-error: #e63d3d;

$c-logo-gray: #999;
$c-bg: #fff;
$c-bg-d: #f4f4f4;
$c-bg-dd: #ccc;
$c-font: #333;
$c-font-l: #888;
$c-font-exam: #000;
$c-border: #ccc;
$c-shadow: #0003;

// Fonts
$f-prim: 'Open Sans', 'M PLUS Rounded 1c', sans-serif;
$f-sec: 'Lora', serif;
$f-italic: 'PT serif';
$f-math: 'Roboto Slab';
$f-size-base: 16px;
$f-size-base-lg: 1.4rem;
$f-size-xs: 0.7rem;
$f-size-sm: 0.875rem;
$f-size-md: 1rem;
$f-size-lg: 1.25rem;
$f-size-title: 1.5rem;
$f-size-title-exam: 36px;
$f-size-splash: 32px;
$f-height: 1.38;

// Break Points
$break-max: 1076px;
$break-md: 960px;
$break-sm: 780px;
$break-min: 360px;

// Easings
$e-bounce: cubic-bezier(.4,.3,0,2.5);
$l-ani: 0.5s;
$l-ani-slow: 1s;
$l-trans: 0.2s;

// Element stylings
@mixin shadow {
	box-shadow: 0 3px 10px $c-shadow;
}
@mixin shadow_sm {
	box-shadow: 0 2px 5px $c-shadow;
}
@mixin shadow_sm_raise {
	box-shadow: 0 5px 10px $c-shadow;
}