// Colors
$c-prim: dodgerblue;
$c-prim-d: darken($c-prim, 10%);
$c-prim-l: lighten($c-prim, 10%);
$c-sec: #9afad0;
$c-sec-d: darken($c-sec, 10%);
$c-sec-l: lighten($c-sec, 10%);
$c-border: #ccc;
$c-font: black;
$c-logo-gray: #999;

// Fonts
$f-prim: 'Roboto', sans-serif;
$f-sec: 'Lora', serif;

// Break Points
$break-max: 1080px;
$break-md: 960px;
$break-sm: 780px;
$break-min: 360px;

// Easings
$e-bounce: cubic-bezier(.4,.3,0,2.5);

// Misc
@mixin shadow {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}