//
// Expose variables to global scope
//
@import './vars';

//
// General styles
//
body {
		font-family: $f-prim;
		font-size: 16px;
		margin: 0;
}

h1, h2, h3, h4, h5, h6 {
		font-family: $f-sec;
}

h1 {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 30px;
}

h2 {
		font-size: 20px;
		font-weight: bold;
		color: $c-prim;
}

p {
	margin-bottom: 40px;
	line-height: 22px;
	padding-left: 5px;
}

a {
	text-decoration: none;
}

a {
	text-decoration: none;

	[class^="view-"] & {
		position: relative;
		color: $c-font;
		display: inline-block;
		margin: 0 2px;
		line-height: 18px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			border-bottom: 2px solid $c-prim;
			transition: all 0.2s;
		}

		&:hover:after {
			border-bottom: 4px solid $c-sec;
			bottom: -4px;
		}
	}
}

em {
	font-weight: bold;
}

table.frac {
	vertical-align: text-top;
	display: inline-block;
	font-size: 0.8em;
	position: relative;
	top: -0.8em;

	td {
			border: none;
			text-align: center;
	}

	tr:first-child td {
			border-bottom: 1px solid $c-font;
	}
}

sup {
	font-size: 0.7em;
}

[class^="symbol-"] {
	padding: 0 3px;
}

.symbol-real, .symbol-natural, .symbol-integer {
	font-size: 1.3em;
	vertical-align: -6%
}

//
// Custom Elements
//
.keyword {
		background: $c-prim;
		font-weight: bold;
		color: white;
		border-radius: 2px;
		padding: 2px 4px;

		&:hover {
				background-color: $c-sec;
		}
}

//
// Grid Layout
//
$gutter: 15px;
$colCount: 12;

.contain, [class^="view-"] {
	max-width: $break-max + $gutter;
	min-width: $break-min;
	margin: 0 auto;		
	padding: 0 $gutter;
}

[class^="view-"] {
	padding-top: 100px;
	overflow: hidden;
}

.row {
	margin: 0 ($gutter * -1);
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&.fill-height {
		display: table;
		table-layout: fixed;
		width: calc(100% + #{$gutter * 2});
		
		>[class^="col-"] {
			display: table-cell;
			float: none;
			vertical-align: top;
		}
		
		&.vert-center>[class^="col-"] {
			vertical-align: middle;
		}
	}

	&.no-pad-v [class|="col"] {
		padding: 0 $gutter;
	}
}

.col, [class^="col-"] {
	float: left;
	box-sizing: border-box;
	padding: $gutter;
	
	@for $i from 1 through $colCount {
		&.col-#{$i} { width: percentage($i / $colCount) }
	}

	@for $i from 1 through $colCount {
		&.col-off-#{$i} { margin-left: percentage($i / $colCount) }
	}

	&.no-pad   { padding: 0; }
	&.no-pad-v { padding: 0 $gutter; }
	&.no-pad-h { padding: $gutter 0; }
	&.no-pad-t { padding: 0 $gutter $gutter; }
	&.no-pad-b { padding: $gutter $gutter 0; }
	&.no-pad-l { padding: $gutter $gutter $gutter 0; }
	&.no-pad-r { padding: $gutter 0 $gutter $gutter; }

	&[class|="pad"] {
		padding: 0;

		&.pad-v { padding: $gutter 0; }
		&.pad-h { padding: 0 $gutter; }
		&.pad-t { padding-top:    $gutter; }
		&.pad-b { padding-bottom: $gutter; }
		&.pad-l { padding-left:   $gutter; }
		&.pad-r { padding-right:  $gutter; }
	}
}

.push-right {
	float: right;
}

.content-right {
	text-align: right;
}